* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.startScreen {
  display: block;
}

.startScreenContent {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}

.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.screenNameText {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 250px;

  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;

  color: black;

  transition-duration: 0.25s;
  font-weight: 300;
}

.screenNameText:hover {
  background-color: fade(white, 40%);
}

.screenNameText:focus {
  background-color: white;
  width: 300px;
}

.lobbyBtn {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.lobbyBtn:hover {
  background-color: rgb(245, 247, 249);
}

.lobby {
  display: none;
  /*
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto 25% 25%;
  grid-template-rows: auto 30% 30% 30%;
  grid-template-areas:
    "header     header      header"
    "categories letter      controls"
    "categories timer       controls"
    "categories leaderboard controls";
  border: solid black 1px;
  */
}

header {
  grid-area: header;
  border: solid black 1px;
}

.categories {
  grid-area: categories;
  border: solid black 1px;
}

.categoriesAnswers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.categoriesCol1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.categoriesCol2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.categoriesInput {
  margin: 5px 0px 5px 0px;
}

.category {
  color: white;
  font-size: 1em;
}

.letter {
  grid-area: letter;
  border: solid black 1px;
  position: relative;
}

.letterWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theLetter {
  text-align: center;
  font-size: 8em;
}

.timer {
  grid-area: timer;
  border: solid black 1px;
  position: relative;
}

.timerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theTimer {
  text-align: center;
  font-size: 5.5em;
}

.leaderboard {
  grid-area: leaderboard;
  border: solid black 1px;
}

.controls {
  grid-area: controls;
  border: solid black 1px;
}

.controlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
